.App {
  text-align: center;
  padding: 0;
  margin: 0;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100wv;
}

body, html{
  text-decoration: none;
  font-size: 16px;
  font-family: "Saira", sans-serif;
  color: #8adaff;
}

.app-shadow{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(55.16% 62.72% at 50% 50%, rgba(255, 255, 255, 0) 1.21%, rgba(11, 28, 45, 0.14) 2.9%, rgba(11, 28, 45, 0.49) 59.19%, rgba(11, 28, 45, 0.9) 100%);
  overflow: scroll;
}

.margin-bottom{
  margin-bottom: 4rem;
}